.register-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  .logo {
    position: fixed;
    top: 10px;
    left: 10px;
    img {
      width: 50%;
    }
  }
  .register-section {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    .register-box {
      width: 60%;
      border: 1px solid #ccc;
      border-radius: 12px;
      padding: 12px;
      box-shadow: 0 4px 8px rgba(31, 35, 41, 0.03),
        0 3px 6px -6px rgba(31, 35, 41, 0.05),
        0 6px 18px 6px rgba(31, 35, 41, 0.03);
      form {
        width: 100%;
        h2 {
          margin: 0;
          margin-bottom: 20px;
        }
        input {
          width: 80%;
          padding: 12px 8px;
          border: 1px solid #ccc;
          border-radius: 8px;
          margin-top: 20px;
        }
        .errorMsg {
          display: block;
          color: red;
          padding: 0;
          margin: 0;
        }
        button {
          margin-top: 20px;
          padding: 12px 32px;
          border: 1px solid #ccc;
          border-radius: 8px;
          background-color: #3370ff;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          transition: linear 0.2s;
        }
        button:hover {
          background-color: rgba(51, 112, 255, 0.8);
        }
      }
    }
  }
  .promote-section {
    width: 40%;
    height: 100vh;
    background-color: rgba(51, 112, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    .header {
      text-align: center;
      h4 {
        font-size: 20px;
        font-weight: 600;
      }
    }
    hr {
      color: #fff;
    }
    .body {
      text-align: left;
      p {
        font-weight: 500;
        span {
          color: #3370ff;
        }
      }
      ul {
        list-style-type: none;
        li {
          margin-bottom: 8px;
          svg {
            margin-right: 8px;
          }
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .register-section {
      width: 100%;
      height: 100vh;
    }
    .promote-section {
      display: none;
    }
  }
}
