.download-container {
  .header {
    background-color: rgba(240, 244, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0;
    h2 {
      font-size: 48px;
      color: #1f2329;
      margin-top: 0;
      margin-bottom: 20px;
    }
    p {
      font-size: 24px;
      color: #51565d;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .download-btn {
      font-size: 20px;
      padding: 0px;
      background-color: #3370ff;
      border: 1px solid #3370ff;
      border-radius: 30px;
      color: #fff;
      cursor: pointer;
      height: 52px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: auto;
      padding: 0 24px;
      span {
        margin-right: 12px;
      }
    }
  }
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10% 40px;
    div + div {
      margin-left: 20px;
    }
    div {
      h4 {
        margin-top: 0;
        font-size: 20px;
        color: #51565d;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          margin-bottom: 12px;
          font-size: 14px;
          color: #1f2329;
          font-weight: 500;
        }
      }
    }
  }

  @media (max-width: 700px) {
    .body {
      img {
        width: 100%;
      }
    }
    .footer {
      flex-wrap: wrap;
      .logo {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      div {
        width: 40%;
        // height: 24px;
        // overflow: hidden;
        margin-bottom: 20px;
        h4 {
          margin: 0;
        }
      }
    }
  }
}
